.disabled_scroll {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow-y: scroll;
    background-color: #212121;
    overflow: hidden;
  }

.page_body {
    background-image: url("/summoners_rift.jpg");
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow-y: scroll;
    background-color: #212121;
}

.about_video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 0;
}

.greeting_section {
    padding: 0;
    margin: 0;
    height: 50vh;
    margin: 0;
}

.greeting_text {
    position: absolute;
    /* horizontal center */
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 20vh;    

    width: fit-content;
    padding: 2px;
    color: #ffffff;
    background-color: #d40000;
}

.info_section {
    background-color: #EEEEEE;
    color: #161616;
    height: 50vh;
    margin: 0;
}

.info_section_header {
    justify-content: center;
    font-size: 5vh;
    display: flex;
    padding: 5px;
    display: flex;
    padding-top: 5vh;
    margin-top: 0;
}

.info_section_text {
    font-size: 2vh;
    line-height: 3.5vh;
    text-align: center;
    margin-left: 20vw;
    margin-right: 20vw;
}

.disclaimer{
    background-color: white;
    font-size: 2vh;
    text-align: center;
    margin-top: 10vh;
    margin-left: 40vh;
    margin-right: 40vh;
}