@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.background {
    background-color: #212A3E;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow-y: scroll;
}

.header_div{
    display: flex;
    justify-content: center;
    background-image: url("/build_calc_banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding-top: 80px;
    padding-bottom: 80px;
}

.header_text {
    color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 20px;
    width: fit-content;
    text-align: center;
    font-size: 70px;
}

.loading_image{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 90px;
    width: 110px;
}