@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.card_container {
    height: 200px;
    padding: 15px;
    max-height: 5;
    margin-bottom: 3vh;
    display: flex;
    background-color: #212A3E;
    box-shadow: 3px 4px 4px;
    border-radius: 15px;
    padding-top: 30px;
}

.meta_section{
    display: flex;
}

.meta_summoner_info_section_left {
    text-align: center;
}

.meta_summoner_info_section_right {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gamemode_text {
    color: #F0F4F8;
    font-family: sans-serif;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 2vh;
    cursor: default;
    -webkit-user-drag: none; 
}

.meta_summoner_text {
    color: #F0F4F8;
    font-family: sans-serif;
    font-size: 2vh;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1vh;
    cursor: default;
    -webkit-user-drag: none;
}

.champion_image {
    border-radius: 50%;
    width: 70px;
    margin-bottom: 10px;
}

.meta_summoner_rank {
    color: #F0F4F8;
    font-family: 'Libre Baskerville', serif;
    margin-top: 8px;
    margin-bottom: 5px;
    font-size: 18px;
    cursor: default;
    -webkit-user-drag: none;   
}

.match_length_text {
    color: #F0F4F8;
    font-family: sans-serif;
    font-size: 2vh;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1.5vh;

}

.rank{
    display: block;
}

.position_icon {
    margin-top: 25px;
    height: 40px;
    width: 40px;
}

.ranked_icon {
    margin-top: 2vh;
    height: 50px;
    width: 65px; 
}

.unranked_icon {
    margin-top: 1vh;
    height: 60px;
    width: 65px; 
}

.match_info_container{
    visibility: visible;
    overflow-y: scroll;
    padding-right: 2vw;
}

.sub_header {
    color: #8d9092;
    font-family: sans-serif;
    font-size: 12px;
    margin: 0;
}

.win_icon {
    text-align: center;
    margin: auto;
    padding-left: 4px;
    padding-right: 4px;
    width: fit-content;
    color: #038be6;
    border-color: #038be6;
    border-style: solid;
    border-width: 2px;
}

.loss_icon {
    margin: auto;
    padding-left: 4px;
    padding-right: 4px;
    width: fit-content;
    color: #e60303;
    border-color: #e60303;
    border-style: solid;
    border-width: 2px;
}

.rune_container {
    display: flex;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
}

.rune_image {
    width: 30px;
}

.secondary_rune_image {
    width: 25px;
}

/* Match info styles */

.team_1_section {
    display: block;
}

.team_stats_container{
    margin-left: 20px;
    display: block;
}

.team_header {
    margin-left: 1.5vw;
    display: flex;
    column-gap: 1.7vw;
}

.header_column {
    display: block;
}

.team_header_text {
    color: #F0F4F8;
    font-family: sans-serif;
    font-size: 1.5vh;
    margin-top: 0;
    margin-bottom: 0;
    cursor: default;
    -webkit-user-drag: none;
}

.player_card_container {
    display: flex;
    justify-content: center;
    margin-left: 1.5vw;
}

.player_name {
    color: #F0F4F8;
    font-family: sans-serif;
    font-size: 1.5vh;
}

.player_card_text {
    color: #F0F4F8;
    font-family: sans-serif;
    font-size: 1.5vh;
}

.team_stat_text {
    color: #F0F4F8;
    font-family: sans-serif;
    font-size: 1.5vh;
}

.player_stats_btn {
    margin: 0;
}

.player_section_header{
    margin-left: 1.5vw;
    display: flex;
    column-gap: 1.7vw;
    justify-content: center;
}

.player_section_header_text{
    color: #F0F4F8;
    text-align: left;
    font-family: sans-serif;
    font-size: 1.5vh;
    margin-top: 0;
    margin-bottom: 0;
    cursor: default;
    -webkit-user-drag: none;
}

.player_section_row{
    text-align: left;
}

.button_div {
    visibility: hidden;
    display: block;
}

/* overview styles */

.overview_container {
    column-gap: 25px;
    margin-left: 10px;
    display: flex;
}

.overview_stats_container {
    display: block;
    align-self: center;
}

.overview_stats_section {
    display: block;
    align-self: center;
    margin-bottom: 10px;
}

.overview_items_section {
    display: block;
    align-self: center;
}

.overview_sub_section {
    display: block;
}

.kd_kda_section {
    display: flex;
    column-gap: 10px;
    justify-content: center;
}

.cs_cspm_section {
    display: flex;
    column-gap: 5px;
    justify-content: center;
}

.vision_section {
    display: block;
    column-gap: 5px;
}

.kda_text {
    color: #F0F4F8;
    font-size: 19px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 5px;
}

.overview_text {
    color: #F0F4F8;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    margin: 0;
}

.item_section {
    align-items: center;
    display: flex;
}

.item_container {
    max-width: 150px;
}

.item {
    
}

.trinket_icon {
    height: 40px;
    width: 40px;
    margin-left: 15px;
}

.item_icon {
    height: 40px;
    width: 40px;
    margin-left: 5px;
    margin-right: 5px;

}

/* spacers */

.horizontal_spacer {
    border-left: 2px solid rgba(99, 99, 99, 0.2);
    margin-left: 15px;
    margin-right: 15px;
    height: 150px;
    align-self: center;
}

.vertical_divider {
    border-bottom: 2px solid rgba(99, 99, 99, 0.2);
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
}

.small_vertical_spacer {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
}