.container {
    text-align: center;
    align-items: center;
    width: fit-content;
    background-color: #212A3E;
    border-radius: 15px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 3vh;
    padding-right: 3vh;
    margin-left: 3vh;
    margin-top : 2vh;
    margin-bottom: 2vh;
    box-shadow: 3px 7px 7px;
}

.header_text{
    color: #F0F4F8;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 6vh;
}

.loading_image{
    height: 100px;
    width: 120px;
}