@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.container{
    background-color: #212A3E;
}



/* meta styles */

.build_info{
    width:100%;
    display: flex;
    justify-content: center;
}


.calculator_row{
    display: flex;
}

/* champ select styles */

.selected_champion_portrait{
    display: block;
    height: 300px;
    margin: 0;
}

.selected_champion_container{
    display: block;
}

.champion_selection_button{
    cursor: pointer;
    width: 165px;
    height: 30px;
    background-color: #000000;
    text-align: center;
    color: white;
    border: none;
}

/* champion base stats styles */

.base_stats_header{
    color: #F0F4F8;
    text-align: center;
    margin: 0;
}

.build_stats_section_container{
    min-width: 300px;
}

.base_stats_container {
    min-width: 150px;
}

.base_stats {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.base_stats_2 {
    display: flex;
    padding: 0;
    column-gap: 5px;
    justify-content: center;
}

.build_stats_2 {
    display: flex;
    column-gap: 40px;
    padding: 0;
    justify-content: center;
}

.health_row{
    display: flex;
    margin-bottom: -10px;
    padding: 0;
    justify-content: center;
}

.stat_element{
    display: flex;
}

.stat_icon{
    height: 40px;
    width: 40px;
}

.stat_text{
    color: #F0F4F8;
}

/* build stats */

.build_stats_header{
    color: #F0F4F8;
    text-align: center;
    margin: 0;
}

.build_stats_subheader{
    color: #F0F4F8;
    text-align: center;
    margin: 0;
}


/* item styles */

.item_list_container{
    max-width: 100%;
    margin-top: 30px;
}

.item_lists{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    column-gap: 100px;
    padding-left: 40px;
    padding-right: 40px;

}


.item_section_icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 40px;
}

.item_section_title{
    align-items: center;
    justify-content: center;
}


.item_container{
    text-align: center;
    margin-bottom: 10px;
}

.item_list{
    padding-left: 10px;
    padding-right: 10px;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 50px;
}

div.item_list::-webkit-scrollbar{
    width: 0.5vw;
}

div.item_list::-webkit-scrollbar-thumb{
    background-color: #959799;
    border: 3px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}

div.item_list::-webkit-scrollbar-thumb:hover{
    background-color: #dde0e4;
    border-radius: 20px;
}

div.item_list::-webkit-scrollbar-track{
    background-color: #181e2c;

}

.item_row{
    display: flex;
    column-gap: 20px;
    padding-top: 5px;
}

.item_text{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #F0F4F8;
    font-size: 15px;
    max-width: 50px;
    max-height: 30px;
    margin-top: 0;
    white-space: initial;
    text-overflow: ellipsis;
    overflow: hidden;

}

/* item search styles */

.item_searchbar_container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.search_form{
}

.search_input{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    line-height: 50px;
    width: 300px;
    background: #131313;
    border: none;
    outline: none;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}

.item_search_results{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    height: 150px;
    width: 500px;
    background: #131313;
    padding: 10px;
    overflow-y: auto;

}

div.item_search_results::-webkit-scrollbar{
    width: 0.5vw;
}

div.item_search_results::-webkit-scrollbar-thumb{
    background-color: #959799;
    border: 3px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}

div.item_search_results::-webkit-scrollbar-thumb:hover{
    background-color: #dde0e4;
    border-radius: 20px;
}

div.item_search_results::-webkit-scrollbar-track{
    background-color: #131313;

}


/* build styles */

.build_container{
    position: relative;
    background-color: rgba(19, 19, 19, 0.904);
    width: 400px;
}

.build_items{
    padding-top: 50px;
    display: block;
    width: 100%;
    justify-content: center;
}

.build_row{
    display: flex;
    column-gap: 10px;
    justify-content: center;
    width: 100%;
}

.build_buttons{
    display: flex;
    position: absolute;
    bottom: 0;
    height: 35px;
    width: 100%;
    margin-top: auto;
    align-items: center;
    background-color: #181e2c;
    align-self: flex-end;
}

.reset_button{
    display: block;
    margin: 0 auto;
    width: fit-content;
    height: 25px;
    background-color: transparent;
    text-align: center;
    color: white;
    border-radius: 5px;
    background-color: #af2828;
    border: none;
}

.reset_button:hover{
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: fit-content;
    height: 25px;

    background-color: transparent;
    text-align: center;
    color: white;
    border-radius: 5px;
    background-color: #8d2020;
    border: none;
}




/* spacers */

.horizontal_spacer_large {
    border-bottom: 1px solid rgba(235, 235, 235, 0.788);
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.small_invisible_spacer{
    margin-top: 10px;
    margin-bottom: 10px;
}

.invisible_spacer{
    margin-top: 20px;
    margin-bottom: 20px;
}