.slider{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_div{
  display: flex;
  column-gap: 20px;
  margin-bottom: 10px;
}

.page_button{
  width: 30px;
  cursor: pointer;
}

.carousel_header{
  color: white;
}

/* spacers */

.vertical_spacer{
  margin-top: 20px;
}

.vertical_spacer_small{
  margin-bottom: 10px;
}