@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.card_text{
    color: #F0F4F8;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.411);
}

.card_footer{
    visibility: visible;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.411);
}

.statistic_row{
    display: flex;
}

.stat_icon{
    width: 25px;
    height: 25px;
    margin: 0;
}

.stat_text{
    color: #F0F4F8;
    font-family: 'Libre Baskerville', serif;
    font-size: 10px;
}

.health_row{
    display: flex;
    margin-bottom: -5px;
    padding: 0;
    justify-content: center;
}

.bottom_stats{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}


/* card rotation styles */
  
  .card3d:hover {
    z-index: 10;
    transform: scale(1.05);
  }
  
  .card3d,
  .card3d #championCard {
    transition: all 500ms ease-out;
  }

  /* end card rotation styles */