@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');


.container{
    position: fixed;
    left: 0;
    top: 0;
    background-color: #00000079;
    width: 100%;
    height: 100%;
}

.content_container{
    background-color: #212A3E;
    margin-top: 3vh;
    margin-left: 20vh;
    margin-right: 20vh;
    max-height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 20px;
}

.close_button{
    background-image: url("/close_icon.png");
    background-color: transparent;
    background-size: cover;
    cursor: pointer;
    margin: 10px;
    width: 15px;
    height: 15px;
    border: 0;
    float: right;
}

.header_text{
    color: #F0F4F8;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 35px;
    text-align: center;
}

.body_text{
    color: #F0F4F8;
    text-align: left;
    font-size: 2.5vh;
    line-height: 1.5;
    margin-top: 0;
    margin-left: 10vh;
    margin-right: 10vh;
}

.selected_champion {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected_champ_icon{
    width: 140px;
    height: 140px;
    border-radius: 100px;
}

.champ_select_text{
    color: #F0F4F8;
    font-family: 'Libre Baskerville', serif;
}

.meta_champ_info{
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.ability_info{
    display: block;
    margin-left: 20px;
}

.blank_ability_icon{
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background-color: #131313;
}

.ability_icon{
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.blank_ult_icon{
    border-radius: 40px;
    margin-top: 10px;
    margin-right: 10px;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-color: #131313;
}

.ult_icon{
    border-radius: 40px;
    margin-top: 10px;
    margin-right: 10px;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.ability_row{
    display: flex;
    text-align: center;
}

.ultimate_info {
    display: block;
    position: relative;
    text-align: center;
    margin-left: 30px;
}

.champ_carousel{
    align-items: center;
    justify-content: center;
    display: flex;
    column-gap: 50px;
    row-gap: 30px;
    flex-wrap: wrap;
}