.cost_item_content{
    display: flex;
    align-items: center;
    margin: 0;
}

.content_right{
    display: flex;
    margin: 0;
    margin-left: auto;
    margin-right: 5px;
    float: right;
}

.cost_item_row_1{
    align-items: center;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0e0e0e9d;
    width: 370px;
}

.cost_item_row_2{
    align-items: center;
    margin: 0;
    background-color: #2e2e2eb4;
    width: 370px;
}

.item_cost_img{
    width: 40px;
    height: 40px;
}

.item_cost_name{
    margin: 0;
    margin-left: 5px;
    font-size: 21px;
    color: white;
    cursor: default;
}

.item_cost_text{
    margin: 0;
    margin-right: 5px;
    color: white;
}

.gold_icon{
    width: 20px;
    margin-right: 10px;
}

/* dropdown styles */

.dropdown_arrow{
    margin: 0;
    width: 20px;
    cursor: pointer;
}

.dropdown_header{
    color: white;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.component_container{
    display: flex;
    flex-direction: column;
}

.sub_item_container{
    display: flex;
    align-items: center;
}

.sub_item_header{
    color: white;
    text-align: center;
    font-size: 15px;
    margin: 0; 
    margin-left: 10px;
    cursor: default;
}

.subitem_img{
    width: 25px;
    height: 25px;
}

.dropdown_layer_item{
    margin: 0;
    margin-top: 5px;
}