.nav {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #212121;
    padding-top: 1.5vh;
    padding-bottom: 1vh;
}

.nav_link {
    color: #F5F5F5;
    margin-left: 3vh;
    margin-right: 3vh;
    font-family: 'Cinzel', Sans-serif;
    font-size: 2.5vh;
    text-decoration: none;
    letter-spacing: 3px;
}


@media only screen and (max-width:750px){
    .nav-links {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 0;
    }
}